BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 4
TabWidth: 4
AccessModifierOffset: -4
ColumnLimit: 0
FixNamespaceComments: true
NamespaceIndentation: Inner
PointerAlignment: Left
ReferenceAlignment: Pointer
IndentCaseLabels: true
IndentPPDirectives: BeforeHash
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: true
AllowShortBlocksOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AlwaysBreakTemplateDeclarations: No
AlignConsecutiveMacros: Consecutive